@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing:border-box ;
 font-family: 'Poppins', sans-serif;
}

body
{
  background: linear-gradient(rgb(76, 175, 221),white,salmon);
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


.container .left 
{
    position: relative;
    background: linear-gradient( rgb(226, 177, 87),#d6acd4,#ffffff);
    padding: 40px;
}

.profiletext
{
    position: relative;
    display:flex;
    flex-direction:column;
    align-items: center;
    padding-bottom: 20px;
    
}

.profiletext .imgbx
{ 
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profiletext .imgbx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profiletext h2
{
  color: #fff;
  font-size: 1.5em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.5em;
  
}

.profiletext h2 span
{
  font-size: 0.8em;
  font-weight: 300;
  
}

.contactinfo 
{
    padding-top:30px;

}

.title
{
    color:rgb(0, 139, 252);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(0,0,0);
    border-top: 1px solid rgb(0,0,0);
    padding: 1rem;
}

.contactinfo ul
{
   position: relative;
}

.contactinfo ul li
{
    position: relative;
    list-style: none;
    margin: 10px 0px;
    cursor: pointer;
    }
    a{
        text-decoration: none;
    }
.contactinfo ul li .icon
{
  display: inline-block;
  width: 30px;
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 10px ;
  }

.contactinfo ul li span
{
    color: rgb(20, 20, 20);
    font-weight: 300 ;
    font-size: 20px ;
   
}

.contactinfo.education li
{
    margin-bottom: 15px;
}
.contactinfo.education h5
{
  color:#000000;
  font-weight: 700;
  font-size: 1.2rem;
}
}
.contactinfo.education h4:nth-child(2)
{
    color:rgb(73, 69, 69);
    font-weight: 500;
}

.contactinfo.education h4
{
    color:rgb(110, 110, 110);
    font-weight: 500;
    font-size: 1.2rem;
}



.bottom
{
    position: relative;
    background: white;
    padding: 50px;
    
}
.bottom .about .title2{
    border-bottom: 1px dashed rgb(0, 0, 0) ;
    border-top: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
    padding-left: 2rem;
}

.about .box .text{
    border-left: 1px solid #888;
    padding-left: 1rem;
}



.title2
{
    color:#2c58e7;
    text-transform: uppercase;
    letter-spacing:1px ;
    margin-bottom: 10px;
}
p
{
    color:rgb(0, 0, 0) ;
    padding-bottom: 10px;
}
p1
{
    font-weight: 600;
    font-size: 1.15rem;
}

.about .box
{
    padding: 2px ;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin: 20px 0;
}

.about .box .year
{
    min-width: 150px ;
    margin-bottom: 5px;
}

.about .box .year h5
{
   text-transform: uppercase;
   color: #000000;
   margin-bottom: 5px;
   font-weight: 700;
   font-size: 1rem;
}
.about .box .text h4
{
    text-transform: uppercase;
    color: #b351e0;
    font-size: 1.25rem;
    font-style: italic;
}

.skills .box
{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
    }
.skills .box h4
{
    text-transform: uppercase;
    color:#000000 ;
    font-weight: 700;
    padding: 10px;
}
.skills .box 
{
    position: relative;
    width: 100%;
    height: 10px;
    background: #ffffff;
    padding: 2px;
    padding-bottom: 19rem;
}

.skills .box .percent div
{
    position: absolute;
}
.interest
{
    margin-top: 12pc;
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    background: linear-gradient(rgb(180, 231, 146),white,rgb(201, 194, 192));
    padding-left: 1rem;
}
.interest ul
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.interest ul li
{
    list-style: none;
    color:rgb(71, 52, 52);
    font-size: 1.5rem;
    font-weight: 500;
    margin:12px 0 ;
}
.interest ul li .fa
{
    color: #ae00ff;
    font-size: 18px;
    width: 20px;
}

